/* Erg Wiki Workshop Poster
 *
 *
 * -> Utilities
 * -> File size
 * -> Layout
 *
 * ## Ideas
 * 	Make temp divs in random colors (like blender texturing).
 *
 * 	Move layouts pieces elsewhere
 */

/*****************************
 * ## Utilities
 *****************************/

/* Page */
.page {
  position:relative;
  margin:5mm;
}

/* Transparency Grid */
.alpha_grid {
  background-color: #FFF;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-image: linear-gradient(
  45deg,
  #CCC 25%,
  transparent 25%,
  transparent 75%,
  #CCC 75%,
  #CCC),
  linear-gradient(
  45deg,
  #CCC 25%,
  transparent 25%,
  transparent 75%,
  #CCC 75%,
  #CCC
  );
}

/* Patterns */
.danger {
  background-color: yellow;
  opacity: 1;
  background-image: repeating-linear-gradient(
  45deg, 
  transparent, 
  transparent 30px, 
  #000000 30px, 
  #000000 50px);

  background-position:0px 0px;
}

.scroll-x {
  animation: scroll-x 2s linear infinite;
}

@keyframes scroll-x {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 70px;
  }
}

.scroll-y {
  animation: scroll-y 2s linear infinite;
}

@keyframes scroll-y {
  0% {
    background-position:0px 0px;
  }
  100% {
    background-position:0px 70px;
  }
}

/* Tmp */
.tmp {
  background-color:rgba(255,0,0,0.4);
}

/*****************************
 * ## File sizes
 *****************************/
.a3_landscape {
  box-sizing: content-box;
  width:297mm;
  height:210mm;

  background-color:#fff;
}

.a3_portrait {
  box-sizing: content-box;
  width:297mm;
  height:420mm;

  background-color:#fff;
}


.a4_landscape {
  box-sizing: content-box;
  width:297mm;
  height:210mm;

  background-color:#fff;
}

.a4_portrait {
  box-sizing: content-box;
  width:210mm;
  height:297mm;

  background-color:#fff;
}

.a5_landscape {
  box-sizing: content-box;
  width:210mm;
  height:148.5mm;

  background-color:#fff;
}

.a5_portrait {
  box-sizing: content-box;
  width:148.5mm;
  height:210mm;

  background-color:#fff;
}

/*****************************
 * ## Layout 
 *****************************/

#top {
  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:30px;
}

#right {
  position:absolute;
  top:0;
  right:0;

  width:30px;
  height:100%;
}

#bottom {
  position:absolute;
  bottom:0;
  left:0;

  height:30px;
  width:100%;
}

#left {
  position:absolute;
  top:0;
  left:0;

  width:30px;
  height:100%;
}

.page {
  padding:35px;
}

h1 {
  font-size:102pt;
  font-family:"Impact",cursive;
}

h2 {
  font-size:102pt;
  font-family:"Impact",cursive;

  color:#0000FF;
  text-decoration:underline;
}
/*
html, body {
background:#AAA;
color:#000;
}

body {
background:#fff;
width:210mm;
height:297mm;
border:1px solid grey;
}



#top h1 {
background-color:yellow;
font-size:22pt;
}

h1 {
font-family:Arial, sans-serif;
display:block;
font-size:32pt;
z-index:1;
position:relative;
}

h2 {
z-index:1;
position:relative;
}
pre {
font-size:18pt;
font-family:Courier, monospace;
z-index:1;
position:relative;
}
span {
display:inline-block;
color:red;
}

.circle {
transform:rotate(4deg);
/*border:2px solid red*/
outline:2px solid red;
outline-offset:5px;
border-radius:12px;
}

.wa-16 {
  font-family: Times New Roman, serif;
  font-weight: 400;
  background: linear-gradient(#b6b6b6 0%, #5f5f5f 20%, #b1b1b1 30%, #fff 64%, #6c6c6c 65%, #373737 66%, #515151 67%, #787878 75%, #d2d2d2 80%, #d2d2d2 100%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#moving_div {
  width:600px;
  height:500px;
  background-color:crimson;
  margin-top:-500px;
  margin-left:14px;
  position: absolute;
  z-index:0;
}

*/
